{% extends 'base.html' %}
{% block base_header %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">项目全生命周期管理</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><small>部门:</small>{{ groups }}</a></li>
          <li><a href="#"><small>欢迎：</small>{{ payload.username }}</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
          <button type="button" class="btn btn-info" >搜索</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">项目列表 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item</a></li>
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
          <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">欢迎进入{{ groups }}分组</h1>
        <div class="row">
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" id="searchProjectName" class="form-control" placeholder="输入项目名称"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" id="searchProjectStyle" class="form-control" placeholder="项目类型"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" id="searchProjectStatus" class="form-control" placeholder="项目状态"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" id="searchProjectLeader" class="form-control" placeholder="负责人"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="date" id="searchProjectCreateTime" class="form-control" placeholder="创建时间"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="date" id="searchProjectUpdateTime" class="form-control" placeholder="更新时间"/>
              <span class="input-group-addon" onclick="BtnSearchProjectInfo()" style="cursor: pointer">搜索</span>
            </div>
          </div>

        </div>
        <div class="row"><h1 class="sub-header"></h1></div>
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">创建</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" onclick="alertModalPut()">编辑</button>
              <button type="button" class="btn btn-danger" data-toggle="modal" onclick="deleteCheckProject()">删除
              </button>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
          <th>选中</th>
          <th>项目编号</th>
          <th>项目名称</th>
          <th>项目类型</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th>项目状态</th>
          <th>负责人</th>
          </thead>
          <tbody id="createProjectContent">
          {% for i in data %}
            <tr>
              <td><label><input type="checkbox" value="{{ i.pk }}"></label></td>
              <td>{{ i.pk }}</td>
              <td><a href="/ProjectDetail/?token={{ token }}&id={{ i.pk }}">{{ i.fields.name }}</a></td>
              <td>{{ i.fields.style }}</td>
              <td>{{ i.fields.create_time }}</td>
              <td>{{ i.fields.update_time }}</td>
              <td>{{ i.fields.status }}</td>
              <td>{{ i.fields.leader }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  <!-- 模态框  创建 -->
  <div class="modal fade" tabindex="-1" id='modalCreate' role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">项目创建</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-md-offset-1"><input type="text" id="modalCreateProjectName"
                                                         class="form-control input-sm"></div>
            <div class="col-md-2"><small>项目名称</small></div>
            <div class="col-md-3 "><input type="text" id="modalCreateProjectStyle"
                                          class="form-control input-sm"></div>
            <div class="col-md-2"><small>项目类型</small></div>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-offset-6">
              <p class="bg-danger" id="modalErrorMsg"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="BtnAddCloseModal" class="btn btn-primary"
                  onclick="modalCreateProject()">创建
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>
  <!--模态框 修改-->
  <div class="modal fade" tabindex="-2" id="modalPut" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">编辑信息 项目编号：
            <samll id="modalProjectId"></samll>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-md-offset-1"><input type="text" id="modalPutProjectName"
                                                         class="form-control input-sm"></div>
            <div class="col-md-2"><small>项目名称</small></div>
            <div class="col-md-3 "><input type="text" id="modalPutProjectStyle"
                                          class="form-control input-sm"></div>
            <div class="col-md-2"><small>项目类型</small></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1"><input type="text" id="modalPutProjectStatus"
                                                         class="form-control input-sm"></div>
            <div class="col-md-2"><small>项目状态</small></div>
            <div class="col-md-3 "><input type="text" id="modalPutProjectLeader" class="form-control input-sm"></div>
            <div class="col-md-2"><small>负责人</small></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3"><p id="response_update_info" class="text-danger">{{ msg }}</p></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="BtnModalPut()">保存</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock base_header %}